
results/

training/processed/*
!training/processed/DIR_PROCESED.txt

training/trained_models/*
!training/trained_models/DIR_TRAINED_MODELS.txt

training/results_analysis.ipynb

dataset/clips/*
!dataset/clips/DIR_CLIPS.txt

training/results_analysis.ipynb
filestructure.txt

training/__pycache__

training/env
.vscode

X_nodes.npy
Y_label_path.npy